linkki-section {
    --section-item-width: calc((100% - (var(--columns, 1) - 1) * var(--linkki-section-gap)) / var(--columns, 1));
}

linkki-section > div[slot="content"] > * {
    max-width: var(--section-item-width);
    overflow: auto;
}

/* Make multi-column UIFormSection wrap
   UIFormSection only supports label on the left, so selecting vaadin-form-item suffices */
linkki-section > div[slot="content"] > vaadin-form-item {
    min-width: calc(var(--vaadin-form-item-label-spacing, 1em) + var(--linkki-form-item-label-width, 8em) + var(--vaadin-field-default-width, 12em));
}

.linkki-section-caption-text {
    margin: 0;
    line-height: var(--lumo-size-s);
    font-weight: 400;
}

/* deprecated. Use .text-placeholder */
.placeholder-label {
   font-style: italic;
   opacity: 0.7;
}

linkki-section vaadin-form-item .placeholder-label {
  position: relative;
  left: calc(-1 * var(--linkki-form-item-label-width, 8em));
}