**/.settings/edu.umd.cs.findbugs.core.prefs
**/.settings/org.eclipse.core.resources.prefs
**/.settings/org.eclipse.jdt.apt.core.prefs
**/.settings/org.eclipse.wst.common.component
**/.settings/org.eclipse.wst.common.project.facet.core.xml
**/.settings/org.jboss.ide.eclipse.as.core.prefs
**/.settings/com.vaadin.integration.eclipse.prefs
**/.settings/.jsdtscope
**/.settings/org.eclipse.wst.jsdt.ui.superType.container
**/.settings/org.eclipse.wst.jsdt.ui.superType.name
**/.attach_pid*
**/.classpath
**/.project
**/.checkstyle
**/.fbExcludeFilterFile
**/.factorypath
**/bin/
target
**/target
.idea
**/.idea
**/*.iml
**/node_modules
**/.DS_Store
**/dev-bundle
**/bundles

# Created by jenkins job
.repository
.asciidoctorconfig.adoc
com.vaadin.designer.prefs
.flattened-pom.xml