$v-shadow: false;
$v-link-text-decoration: none !default;

@import "linkki.scss";
@import "../valo/valo.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in ipm.scss */

.sample {
  @include valo;
  // Include linkki theme styles
  @include linkki;
  
  
  .v-link:hover, .v-link:active{
    text-decoration: underline;
  }
  
  .borderLayout {
    padding:5px;
    border-style: dotted;
    border-radius:20px;
    text-align: center;
  }

  .borderLayout div {
    margin:5px;
  }

  .borderLayout .v-button {
    width:80%;
  }

  .extraClass {
    background-color: #009fe3;
    color: white;
  }
}