/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
$v-app-loading-text: Policy Management System startet;

$v-line-height: 1.0;
$v-font-size: 13px;
$v-layout-margin-top: 5px;
$v-layout-margin-bottom: 5px;
$v-layout-margin-left: 5px;
$v-layout-margin-right: 5px;
$v-app-background-color: #fdfdfd;
$v-selection-color: #197ede;
$v-focus-color: #197ede;
$v-disabled-opacity: 0.3;
$v-unit-size: 26px;

  /* 
   * Styling for the application's header section.
   */
 .linkki-application-header {
   background-color:#205081;
   color:#FFFFFF;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color:#AAAAAA;
   width: 100% !important;
 
    .linkki-menu-wrapper {
      width: 100% !important;
      
      .linkki-horizontal-spacer {
        height:100% !important;
      }
    }
  }
 .linkki-application-header.v-margin-top {
     padding-top: 5px;}
 .linkki-application-header.v-margin-bottom {
     padding-bottom: 5px;}


  /* 
   * Style for the top level items in the applications main menu in the header including Preferences and help icon.
   */
  .linkki-application-header .v-menubar-menuitem-linkki-application-menu .v-menubar-menuitem-caption {
   color:#FFFFFF;
   font-size: 120%;  
 }
 
 /* 
  * Styles for dialog.
  */
 .linkki-dialog-caption .v-window-outerheader {
     font-size: 140%;  
 	 padding-top: 10px;
 	 padding-bottom: 10px;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     border-bottom-color:#AAAAAA;
 }

 .linkki-dialog-content {
 	 margin-top: 20px;
 	 margin-bottom: 20px;
 	 margin-left: 20px;
 	 margin-right: 20px;
 }
 

 /* 
  * Style for login panel
  */
 .linkki-login-panel-caption {
   width:33% !important;
   color:white;
   background-color:#205081;
   background-image: unquote("linear-gradient(to bottom, #397abc 2%, #648eba 98%)");
 }

 .linkki-info-panel-caption {
   width:100% !important;
   color:white;
   background-color:#205081;
   background-image: unquote("linear-gradient(to bottom, #397abc 2%, #648eba 98%)");
 }