:host [part="label"]::after {
	content: var(--lumo-required-field-indicator, "\2022");
	transition: opacity 0.2s;
	opacity: 0;
	color: var(--lumo-primary-text-color);
	width: 1em;
	text-align: center;
	margin-right: -1em;
}

:host([required]) [part="label"]::after {
	opacity: 1;
}

:host([invalid]) [part="label"]::after {
	color: var(--lumo-error-text-color);
}

[part="label"] {
	text-align: right;
	display: flex;
}

[part="label"] ::slotted(label) {
	flex-grow: 1;
	width: 100%;
    overflow: hidden;
}