linkki-section {
    --section-item-width: calc((100% - (var(--columns, 1) - 1) * var(--linkki-section-gap)) / var(--columns, 1));
}

linkki-section > div[slot="content"] > * {
    max-width: var(--section-item-width);
}

.linkki-section-caption-text {
    margin: 0;
    line-height: var(--lumo-size-s);
    font-weight: 400;
}
