.linkki-application-header {
    background-color: var(--lumo-primary-color);
    padding-right: var(--lumo-space-m);
}

.linkki-application-header + div {
    overflow: hidden;
}

.linkki-application-footer {
    align-self: center;
}

.linkki-application-menu vaadin-menu-bar-button {
    --_lumo-button-text-color: var(--lumo-primary-contrast-color);
    --_lumo-button-background: transparent;
}

.linkki-main-area {
    overflow: auto;
}