test-case-component {
  padding: var(--lumo-space-m);
  display: block;
}

test-case-component > span {
  font-size: var(--lumo-font-size-xl);
  margin-bottom: .5em;
}

test-case-component > *[part="description"] {
  background-color: var(--lumo-contrast-5pct);
}