test-case-component {
  padding: var(--lumo-space-m);
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

test-case-component > span {
  font-size: var(--lumo-font-size-xl);
  margin-bottom: .5em;
}

test-case-component > *[part="description"] {
  background-color: var(--lumo-contrast-5pct);
}

test-case-component #content-wrapper {
  flex-grow: 1;
  overflow: auto;
}