/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  padding: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

.page-wrapper {
  padding-bottom: 40px;
}

.markdown-section h4 {
  color: #444;
  margin-bottom: 0.5em;
}

.markdown-section h5 {
  color: #444;
  margin-bottom: 0.5em;
}

.book-summary ul.summary ul.articles{
  padding-left: 10px;
}

.book-summary ul.summary > li.chapter > a{
  font-weight: bold;
  color: #777;
}

.book-summary ul.summary > li.chapter.active > a{
  color: #008cff;
}

.book-summary ul.summary {
  padding-bottom: 40px;
  padding-top: 10px;
}

/* admonition styles, adjusted from asciidoctor.css */
.admonitionblock td.icon [class^="fa icon-"]:before { font-size: 2.5em; cursor: default; }
.admonitionblock td.icon .icon-note:before {content: "\f05a"; color: #009fe3;}
.admonitionblock td.icon .icon-tip:before { content: "\f0eb"; color: #111; }
.admonitionblock td.icon .icon-warning:before { content: "\f071"; color: #ffb700; }
.admonitionblock td.icon .icon-caution:before { content: "\f06d"; color: #ffb700; }
.admonitionblock td.icon .icon-important:before { content: "\f06a"; color: #ff3100; }

.admonitionblock > table { border: 0; background: none; width: 100%; }
.admonitionblock > table td.icon { text-align: center; width: 80px; border: none;}
.admonitionblock > table td.icon img { max-width: none; }
.admonitionblock > table td.icon .title { font-weight: bold; text-transform: uppercase; }
.admonitionblock > table td.content { padding-left: 1.125em; padding-right: 1.25em; padding-top: 1em; padding-bottom: 1em; border-left: 1px solid #dddddd; color: #6f6f6f; border-right: none; border-top: none; border-bottom: none;}
.admonitionblock > table td.content > :last-child > :last-child { margin-bottom: 0; }

.admonitionblock > table > tbody > tr {border-top: none;}
.admonitionblock {padding: 1.5em 0;}


/* example block styles, adjusted from asciidoctor.css */
.exampleblock > .content { border-style: solid; border-width: 1px; border-color: #e6e6e6; margin-bottom: 1.25em; padding: 1.25em; background: white; -webkit-border-radius: 4px; border-radius: 4px; }
.exampleblock > .content > :first-child { margin-top: 0; }
.exampleblock > .content > :last-child { margin-bottom: 0; }
.exampleblock > .content h1, .exampleblock > .content h2, .exampleblock > .content h3, .exampleblock > .content #toctitle, .sidebarblock.exampleblock > .content > .title, .exampleblock > .content h4, .exampleblock > .content h5, .exampleblock > .content h6, .exampleblock > .content p { color: #333333; }
.exampleblock > .content h1, .exampleblock > .content h2, .exampleblock > .content h3, .exampleblock > .content #toctitle, .sidebarblock.exampleblock > .content > .title, .exampleblock > .content h4, .exampleblock > .content h5, .exampleblock > .content h6 { line-height: 1; margin-bottom: 0.625em; }
.exampleblock > .content h1.subheader, .exampleblock > .content h2.subheader, .exampleblock > .content h3.subheader, .exampleblock > .content .subheader#toctitle, .sidebarblock.exampleblock > .content > .subheader.title, .exampleblock > .content h4.subheader, .exampleblock > .content h5.subheader, .exampleblock > .content h6.subheader { line-height: 1.4; }

.exampleblock.result > .content { -webkit-box-shadow: 0 1px 8px #d9d9d9; box-shadow: 0 1px 8px #d9d9d9; }
.exampleblock > .content > :last-child > :last-child, .exampleblock > .content .olist > ol > li:last-child > :last-child, .exampleblock > .content .ulist > ul > li:last-child > :last-child, .exampleblock > .content .qlist > ol > li:last-child > :last-child, .sidebarblock > .content > :last-child > :last-child, .sidebarblock > .content .olist > ol > li:last-child > :last-child, .sidebarblock > .content .ulist > ul > li:last-child > :last-child, .sidebarblock > .content .qlist > ol > li:last-child > :last-child { margin-bottom: 0; }

/* image roles, taken from asciidoctor.css */
.image.left, .image.right { margin-top: 0.25em; margin-bottom: 0.25em; display: inline-block; line-height: 0; }

/* correct styles for detils elements */
details > summary {
	display: list-item;
}

details > div {
  padding-left: 1em;
  margin-left: .2em;
  border-left: 3px #eee solid;
}