strong.api-change:after {
    content: 'api-change';
    color: white;
    margin-left: 1em;
    font-weight: bold;
    border-radius: 5px;
    background: #009fe3;
    padding: .3em 1em;
    font-size: .7em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}