
a:not([href]) {
    color: inherit;
    text-decoration: none;
    pointer-events: none;
}

.linkki-grid-footer-sum {
    --linkki-footer-alignment: right;
    --linkki-footer-text-shadow: 0 .1px 0 currentColor;
}

.linkki-grid-footer-bold {
    --linkki-footer-text-shadow: 0 .1px 0 currentColor;
}