<style>
<!--
.content {
	width: 100%;
}

.line {
	display: flex;
	align-items: center;
}

.label {
	flex: 2 1 50px;
	display: flex;
	justify-content: flex-end;
	padding: .5em;
	flex-wrap: nowrap;
}

.component {
	display: flex;
	padding: .5em;
	flex: 15 0 0;
}
-->
</style>

<div class="content">
	<div class="line">
		<div class="label">
			<div location="givenName-label"></div>
		</div>
		<div class="component">
			<div style="width: 100%;" location="givenName"></div>
		</div>
	</div>
	<div class="line">
		<div class="label">
			<div location="surname-label"></div>
		</div>
		<div class="component">
			<div style="width: 100%;" location="surname"></div>
		</div>
	</div>
	<div class="line">
		<div class="label">
			<div location="street-label"></div>
			/
			<div location="number-label"></div>
		</div>
		<div class="component">
			<div style="width: 100%;" location="street"></div>
			&nbsp;
			<div style="width: 6em;" location="number"></div>
		</div>
	</div>
	<div class="line">
		<div class="label">
			<div location="zip-label"></div>
			/
			<div location="city-label"></div>
		</div>
		<div class="component">
			<div style="width: 6em;" location="zip"></div>
			&nbsp;
			<div style="width: 100%;" location="city"></div>
		</div>
	</div>
</div>