:host {
    background-color: var(--linkki-input-background);
    font-weight: 400;
}

:host([readonly]) {
    color: var(--linkki-readonly-text-color, var(--lumo-secondary-text-color));
}

:host([disabled][readonly]) {
    background: transparent;
}

:host([readonly])::after {
    border: 1px solid var(--linkki-input-border-color-readonly);
}
