@import "error-message.css";

[part='checkbox'] {
    background-color: var(--linkki-input-background);
}

:host(:not([checked]):not([indeterminate]):not([disabled]):hover) [part='checkbox'] {
    background-color: var(--linkki-input-background-hover);
}

/*
 * Readonly styles
 */
:host([readonly]) {
  color: var(--lumo-body-text-color);
}

:host([readonly]) [part='checkbox'] {
  background-color: transparent;
}

:host([readonly][checked]) [part="checkbox"]::after {
  color: var(--lumo-primary-text-color);
}

:host([readonly]:not([checked])) [part="checkbox"] {
  border: 1px solid var(--linkki-input-border-color-readonly);
}

/*
 * Set pointer as cursor when really clickable
 */
:host(:not([disabled])) .vaadin-checkbox-wrapper,
:host(:not([disabled])) ::slotted(label) {
    cursor: var(--lumo-clickable-cursor);
}

/*
 * Fix for Vaadin issue https://github.com/vaadin/web-components/issues/3570
 */
.vaadin-checkbox-wrapper {
    height: auto;
}