
/* Fixes for Vaadin issue https://github.com/vaadin/web-components/issues/3571
 */
:host([theme~='tertiary-inline']) {
    min-width: auto;
}

/*
 * Fix for Vaadin issue https://github.com/vaadin/flow-components/issues/2456
 */
:host([focus-ring]) {
    box-shadow: inset 0 0 0 2px var(--lumo-primary-color-50pct);
}
:host([theme~='primary'][focus-ring]) {
    box-shadow: inset 0 0 0 2px var(--lumo-primary-color-50pct), inset 0 0 0 3px var(--lumo-base-color);
}