@import "input-field-focus-ring.css";
@import "input-field-hover.css";
@import "input-field-validation.css";

:host([readonly]) [part='input-field'] {
    border: var(--vaadin-input-field-readonly-border);
}