[part="row"]:only-child [part~="header-cell"] {
  min-height: var(--lumo-size-m);
}

#footer {
  text-align: var(--linkki-footer-alignment, left);
  text-shadow: var(--linkki-footer-text-shadow);
}

[part~="footer-cell"] ::slotted(vaadin-grid-cell-content) {
  font-size: var(--lumo-font-size-m);
}

:host([has-placeholder]:not([has-items])) {
  /* override fixed inline height */
  height: unset !important;
}

:host([has-placeholder]:not([has-items])) #scroller {
  display: none;
}

:host([has-placeholder]:not([has-items]))::after {
  content: var(--placeholder, "");
  font-style: italic;
  opacity: 0.7;
}

:host {
  background: var(--linkki-grid-background, var(--lumo-base-color));
}

[part~="cell"] {
  background: var(--linkki-grid-background, var(--lumo-base-color));
}