:host {
    background-color: var(--linkki-input-background);
    border: var(--linkki-input-border);
    font-weight: 400;
}

:host([readonly]) {
    color: var(--linkki-readonly-text-color, var(--lumo-secondary-text-color));
}

:host([disabled][readonly]) {
    background: transparent;
}

:host([readonly])::after {
    border: 1px var(--linkki-input-border-style-readonly) var(--linkki-input-border-readonly);
}