:host {
    width: 100%;
}

#label {
    width: var(--linkki-form-item-label-width, 8em);
}

/************************************************ 
 * LABEL RIGHT ALINGNED
 ************************************************/

:host(:not([label-position='top'])) #label {
    display: flex;
    justify-content: var(--linkki-form-item-label-alignment, end);
    text-align: var(--linkki-form-item-label-alignment, end);
    position: relative;
}

[part="label"] ::slotted(label) {
/*
 * By default, the label wraps at words. If there is no white space for wrapping: 
 * - without 'overflow:hidden' the text would be cut off at the left margin because of 'justify-content:end'.
 * - Instead of clipping words, it is better to show ellipses at the end.
 * Note that this only works correctly with display: flex on #label.
 */
    overflow: hidden;
    text-overflow: ellipsis;
}

/************************************************ 
 * REQUIRED INDICATOR
 ************************************************/
 
[part="required-indicator"]::after {
    position: absolute;
    height: 0;
    overflow: hidden;
}
:host([required]) [part='required-indicator']::after {
    height: auto;
}
