@import "error-message.css";

[part='radio'] {
    background-color: var(--linkki-input-background);
    border: 1px solid var(--linkki-input-border-color);
    box-sizing: border-box;
}

:host(:not([checked]):not([disabled]):hover) [part='radio'] {
    background-color: var(--linkki-input-background-hover);
}

:host([disabled]) [part='radio'] {
    background-color: transparent;
    border: 1px solid var(--linkki-input-border-color-readonly);
}

:host([disabled]) [part='radio']::after {
    border-color: var(--linkki-input-border-color-readonly);
}

/*
 * Set pointer as cursor when really clickable
 */
:host(:not([disabled])) .vaadin-radio-button-wrapper,
:host(:not([disabled])) ::slotted(label) {
    cursor: var(--lumo-clickable-cursor);
}