@import "error-message.css";

[part='checkbox'] {
    background-color: var(--linkki-input-background);
    border: var(--linkki-input-border);
}

:host(:not([checked]):not([indeterminate]):not([disabled]):hover) [part='checkbox'] {
    background-color: var(--linkki-input-background-hover);
    border: var(--linkki-input-border-hover);
}

/*
 * Fix for Vaadin issue https://github.com/vaadin/web-components/issues/3570
 */
.vaadin-checkbox-wrapper {
    height: auto;
}