#BindStyleNamesPmo.style1 {
	border: 5px solid black;
}
#BindStyleNamesPmo.style1 {
	background-color: var(--lumo-primary-color);
}
#BindStyleNamesPmo.style2 {
    color: white;
}
#BindStyleNamesPmo.style3 {
    font-weight: bold;
}
#LabelPmo .style1 {
	color: green;
}
#LabelPmo .style1 > span {
    width: 500px;
}
#ButtonValidationPmo .button-validation  {
    border: 1px solid transparent;
}
#ButtonValidationPmo .button-validation[severity="info"]  {
    border: 1px solid var(--linkki-info-color);
}
#ButtonValidationPmo .button-validation[severity="warning"]  {
    border: 1px solid var(--linkki-warning-color);
}
#ButtonValidationPmo .button-validation[severity="error"]  {
    border: 1px solid var(--lumo-error-color);
}