.linkki-section-caption {
  --lumo-header-text-color:#424242;
}

.linkki-section-caption h4 {
  position:relative;
  white-space: nowrap;
  display: inline-block;
  margin: 0 var(--lumo-space-m);
}

.linkki-section-caption h4 span {
  display: inline-block;
  position: relative;
}

.linkki-section-caption vaadin-button {
	margin-left: 0;
	margin-right: var(--lumo-space-m);
}

.linkki-section-caption:after {
    height: 1px;
    background: var(--lumo-header-text-color);
    width: 100%;
    content: "";
    display: inline-block;
}